{% load static %}

<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
  <div class="container-fluid px-0">
    <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
      <div class="d-flex align-items-center">
      </div>
      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center">
        <a href="{% url 'logout' %}?next={{request.path}}" class="btn btn-secondary">
          Logout
        </a>
        <li class="nav-item dropdown ms-lg-3">
          <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <div class="media d-flex align-items-center">
              <img class="avatar rounded-circle" alt="Image placeholder"
                src="{% static 'assets/img/team/profile-picture-3.jpg' %}">
              <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                <a href="{{ user.get_absolute_url }}">
                  <span class="mb-0 font-small fw-bold text-gray-900">{{ user.first_name }} {{ user.last_name }}</span>
                </a>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>