{% extends "base.html" %}

{% block content %}
  <h1>
    Positions list
  </h1>
  <a href="{% url 'sailors_app:position-create' %}" class="btn btn-primary link-to-page">
      Create
  </a>

  {% if position_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for position in position_list %}
        <tr>
          <td>
              {{ position.id }}
          </td>
          <td>
            <a href="{% url "sailors_app:position-detail" pk=position.id %} "> {{ position.name }}</a>
          </td>
          <td>
            <a href="{% url "sailors_app:position-update" pk=position.id %} "><strong>Update</strong></a>
          </td>
          <td>
            <a href="{% url "sailors_app:position-delete" pk=position.id %} "><strong>Delete</strong></a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no manufacturers in the service.</p>
  {% endif %}
{% endblock %}
