{% extends "base.html" %}

{% block content %}
  <h1>
    Positions
  </h1>

  {% if position_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>

      {% for position in position_list %}
        <tr>
          <td>
              {{ position.id }}
          </td>
          <td>
            <a href="{% url "sailors_app:position-detail" pk=position.id %} "> {{ position.name }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no manufacturers in the service.</p>
  {% endif %}
{% endblock %}
