{% extends "base.html" %}

{% block content %}
  <h1>
    Tasks list
  </h1>
  <a href="{% url 'sailors_app:task-create' %}" class="btn btn-primary link-to-page">
    Create
  </a>
    {% include "includes/search_input_form_position&task.html" %}
  {% if  task_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Task</th>
        <th>Priority</th>
        <th>Is_completed</th>
        <th>Deadline</th>
        <th>UPDATE</th>
        <th>DELETE</th>
      </tr>
    {% for task in task_list %}
      <tr>
        <td>
          {{ task.id }}
        </td>
        <td>
          <a href="{% url "sailors_app:task-detail" pk=task.id %} ">{{ task.name }}</a>
        </td>
        <td>
          {{ task.priority }}
        </td>
        <td>
          {{ task.is_completed }}
        </td>
        <td>
          {{ task.deadline }}
        </td>
        <td>
          <a href="{% url 'sailors_app:task-update' pk=task.id %}">
            Update
          </a>
        </td>
        <td>
          <a href="{% url 'sailors_app:task-delete' pk=task.id %}">
            Delete
          </a>

        </td>
      </tr>

    {% endfor %}
    </table>

  {% else %}
    <p>There are no tasks on the service</p>
  {% endif %}
{% endblock %}
